
/*-----------------
* [Master Stylesheet]
*
* Name             : Fundraise Genius
* Author           : beingeorge
* Version          : 1.0
* Created          : Dec 2020
* 
------------------*/


/*-----------------
  [ALL CONTENTS]

Reset.css
General 
Helper Classes 
Header

Footer 
All Media Queries

------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600&display=swap');


/* ---------------------------------------------- /*
* 1. Reset.css
/* ---------------------------------------------- /*

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font: 400 16px 'Inter', sans-serif;
    color: #2A2B2C;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ---------------------------------------------- /*
* 2. General
/* ---------------------------------------------- */


::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, .ease-3 {
    -webkit-transition: all 0.3s ease-in-out 0s;
       -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
         -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
}

a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}

p {
    color: #6e7373;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    line-height: 33px
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 2px;
    color: #2A2B2C;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    margin: 0 0 20px;
    line-height: 37px;
}

h3 {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

h4 {
    font-size: 20px;
    letter-spacing: 1px;
}

h5 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

textarea {
    height: 100px;
    resize: none;
}

b, strong {
    font-weight: 500;
}

a {
    font-family: 'Inter', sans-serif;
}

hr {
    border-color: #3F4041;
    opacity: 0.1
}

/* ---------------------------------------------- 
    Helper Classes 
/* ---------------------------------------------- */

.btn {
    border-radius: 50px;
    padding: 14px 30px;
}

.btn-primary {
    background-color: #625DF6;
}

.btn-secondary {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    background-color: #3A3855;
    max-width: 490px;
    width: 100%;
}

.link-primary {
    color: #625DF6;   
}

.container-lg {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1400px;
}

/* ---------------------------------------------- 
    Header
/* ---------------------------------------------- */

.navbar {
    padding: 40px 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: #2A2B2C;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 0;
    margin: 0 30px;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-item:hover >.nav-link {
    border-color: #625DF6;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-toggler.active .ham{
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #222;
    stroke-width:3.5;
    stroke-linecap:round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.navbar-toggler.active .top {
    stroke-dashoffset: -98px;
}

.navbar-toggler.active .bottom {
    stroke-dashoffset: -138px;
}

.navbar-light .navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}

/* ---------------------------------------------- 
    Home
/* ---------------------------------------------- */


/* ---------------------------------------------- 
     Contact
/* ---------------------------------------------- */

.section-contact {
    padding: 20px 0 160px;
    overflow: hidden;
}

.contact-img {
    width: 100%;
    max-width: 780px;
}

.contact-form {
    max-width: 490px;
}

.contact-wrapper hr {
    margin: 59px 0;
}

form {
    margin: 30px 0 0;
}

.form-group label {
    color: #696A6B;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.form-group textarea {
    min-height: 230px
}

.form-group {
    margin-bottom: 34px;
}

.form-control {
    border-color: #e1e1e5;
    border-radius: 12px;
    height: 60px;
    padding: 20px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1)
}

/* ---------------------------------------------- 
    Footer
/* ---------------------------------------------- */


footer {
    background: #2A2B2C;
}

.footer-top {
    padding: 80px 0;
}

.footer-bottom {
    padding: 59px 0;
}

.footer-bottom--left p,
.footer-bottom--right a {
    font-size: 18px;
    color: #696A6B;
    line-height: 22px;
    margin: 0;
}

.footer-bottom--right a:hover {
    color: #fff;
}

.footer-top--center a,
.footer-top--center p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.footer-top--center a {
    margin: 0 25px;
}

.footer-top--right a {
    color: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
}

.footer-top {
    padding: 90px 0 60px;
}


/* ---------------------------------------------- 
* 15. All Media Queries
/* ---------------------------------------------- */


@media (max-width: 991px) {

    .section-contact {
        padding: 0 0 70px;
    }

    .navbar {
        padding: 17px 0;
    }


    .navbar-light .navbar-nav .nav-link {
        margin: 5px 0;
    }

    .navbar-btns {
        align-items: normal !important;
    }

    .navbar-btns .btn {
        width: 100%;
        font-size: 14px;
        margin: 10px 0;
        padding: 10px;
    }

}


@media (min-width: 768px) {
    .footer-bottom--right li {
        margin-left: 30px;
    }
}

@media (max-width: 767px) {

    .section-contact .container {
        padding: 0;
    }

    .contact-wrapper {
        padding: 50px 15px 0;
    }

    .footer-top--center a {
        margin: 34px 0;
        display: block;
    }

    .footer-top--left {
        margin-bottom: 64px;
    }

    .footer-top--center a,
    .footer-top--center p,
    .footer-top--right a,
    .footer-top--right p {
        color: #fff;
        font-size: 14px;
        line-height: 17px;
    }
    .footer-top--right p {
        line-height: 28px;
    }

    footer {
        padding: 0 20px;
    }

    footer .container {
        padding: 0;
    }

    .footer-bottom--right {
        justify-content: center !important;
        margin-bottom: 36px;
    }

    .footer-bottom--left p, .footer-bottom--right a {
        font-size: 14px;
    }

    .footer-bottom--right li {
        width: 50%;
        line-height: 15px;
        text-align: center;
    }

    .footer-bottom--left {
        text-align: center;
    }

    .footer-bottom--right li:first-child {
        border-right: 1px solid #68696a;
    }
}
